.table-border {
    position: relative;
    overflow: hidden;
}

table tr td {
    width: 20%;
    padding: 10px;
}

.action-item {
    float: right;
    margin-right: 20px;
    color: grey;
}

.item-div {
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    position: relative;
    min-width: 360px;
    min-height: 100px;
}

.prod-div {
    margin: 10px;
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    color: mediumblue;
}

.prod-div button {
    border-radius: 20px;
    width: 140px;
}

.price {
    color: black;
    font-weight: bold;
}

.prod-image {
    width: 210px;
    height: 240px;
}

.qty {
    width: 30px;
}

.qty-div {
    width: 69px;
}

.btn-light {
    border-radius: 10px;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}